@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* colors */

  --light: hsl(60, 17%, 85%);
  --light-hover: hsl(0, 0%, 76%);
  --dark: hsl(0, 0%, 14%);

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 1.25rem;
}

.App {
  width: clamp(16rem, 80vw, 70rem);
  margin: 18vh auto;
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  border-bottom: 0.15rem solid var(--light);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--light);
  }
}
